@font-face {
    font-family: "Caveat";
    src: url("../CaveatBrush-Regular.ttf") format(truetype);
    font-display: swap;
}

html,
body {
    height: 100%;
}

body,
h1 {
    font-family: "Caveat" !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #de4641;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: #de4641;
}

.bg-image-banner {
    position: relative;
    background-image: url("../banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1440px;
}

.bg-dark {
    background-color: #212529b5 !important;
}

.btn-success {
    background-color: #546c20;
    font-size: 1.2em;
}

.motto {
    font-size: 3.4em;
}

p {
    font-family: "Playfair Display", serif;
    font-display: swap;
    color: #fff;
    font-size: 1.35em !important;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding: 36px 0px;
}

.btn-outline-danger {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1.1em;
    color: #fff;
    border-color: #de4641;
    margin-left: 33%;
    margin-right: auto;
}
